* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.body {
    font-family: sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
}


.header-info__info-container__header {
    width: 510px;
    font-size: 64px;
    color: #1f3f68;
}

.header-info__info-container__text {
    width: 425px;
}

.card {
    display: flex;
    justify-content: space-between;
}
.card__header {
  width: 359px;  
}

.footer-info__info-container__header {
    width: 340px;
}

.footer-info__info-container__text {
    width: 495px;
}

.footer-contacts__list {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    display: flex;
}

.contact-info__container {
    width: 400px;
}


